.technologoy_section{
    background: #FFF;
}

.technology {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.cloud_storage {
    position: relative;
}

.img_div {
    position: absolute;
    top: 6.6rem;
    left: 7.5rem;
}

.cloud_storage>h3 {
    color: rgba(16, 16, 16, 0.08);
    text-align: center;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cloud_storage>h5 {
    color: #101010;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 2rem;
    padding-bottom: 1.3rem;
}

.cloud_storage>p {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.technology_h2 {
    padding: 4rem 0;
    color: #000;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}